/* general rules */ 
body {
    font-family:"Roboto", serif;
}

main {
    margin: 20px 5px;
}

/* header rules */
header {
    min-height: 70px;
    background-color: rgb(47, 43, 43);
}

header li .nav-link {
    color: grey;
}

.navbar-brand img {
    max-width: 40px;
}

.navbar-toggler {
    border-color: gray;
}

.navbar-toggler-icon {
    color: gray;
}

.clearfix {
    margin-bottom: 20px;
}

/* regole library */







/* media-query */

@media screen and (max-width:768px) {
    .hover-ghost {
        visibility: hidden;
    }
    
}
