/* general rules */ 
body {
    font-family:"Roboto", serif;
}

main {
    margin: 20px 5px;
    width: 100%;
}

/* header rules */
header {
    min-height: 70px;

}

header li .nav-link {
    color: grey;
}

.navbar-brand img {
    max-width: 40px;
}


.nav-link:focus, .nav-link:hover {
    color: white;
}

.clearfix {
    margin-bottom: 20px;
}


.table-hover:hover {
    background-color: rgb(196, 195, 195);

}

/* library rules */

.table button:hover {
    background-color: rgb(99, 93, 93);
}

/* layout secondary */
.list-group {
    margin-bottom: 20px;
}







/* media-query */
/* tablet */

@media screen and (min-width:768px) {
    main {
        width: 80%;
        margin: 20px auto;
    } 
}
    

   
/* dekstop */
@media screen and (min-width:1024px) {

    .layout-main {
        display: flex;
        gap: 2%;
    }

    table {
        width: 58%;
    }
    
    .layout-secondari {
        width: 40%;
    }
}

